/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 * 	Green theme - Owl Carousel CSS File
 */
.owl-next {
  background-image: url(arrow1.png);
  background-size:100% 100%;
  background-repeat: no-repeat;
  width: 2.5vw;
  height: 6vh;
  position: absolute;
  top: 18vh;
  right: -7vw;

}

 @media screen and (max-width: 790px) {

    .owl-carousel {
        margin-left: 10.2vw;
        width: 89.7vw;
    }

    .owl-prev, .owl-nav {
      display: none;
    }
 }

.owl-prev {
  background-image: url(arrow2.png);
  background-size:100% 100%;
  background-repeat: no-repeat;
  width: 2.5vw;
  height: 6vh;
  position: absolute;
  top: 18vh;
  left: -8vw;
}

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; 

}
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
         }

    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #4DC7A0;
      color: white;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px; }

.owl-theme .owl-dots {
  float: left;
  margin-left: 47%;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 11px;
      margin: 5px 5px;
      background: white;
      display: block;
      border: 1px solid gray;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 40px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: black; }
